@import '../../../styles/colors';

.lobbyInvitation {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.copyLinkButton {
  background-color: $green-lightest;
  color: $green-dark;
}