@import '../../../styles/colors';

.inputText {
  border: 2px solid $green-ternary;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.02em;

  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 100%;
  
  &::placeholder {
    color: $gray-dark;
  }

  &:disabled {
    background-color: $gray-light;
    opacity: 1;
  }
}