@import '../../../styles/colors';

.inputText {
  border: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 100%;
  
  &::placeholder {
    color: $gray-dark;
  }

  &:disabled {
    background-color: $gray-light;
    opacity: 1;
  }
}