.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
  .waitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
    
    .cardContainer {
      width: 50%;
    }
  }
}
  