.windowContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.invitationContainer {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.startGameButton {
  width: 30%;
  min-width: fit-content;
}