.container {
  margin-top: 2rem;;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  
  .winners {
    margin-bottom: 3rem;
    width: 50%;
  }
  
  .losers{
    width: 70%;
    margin-bottom: 3rem;
  }
  
  .buttons {
    width:40%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
