.container{
  .title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .losersGrid {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 2rem;
  }
}