.container{

  
  .title {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .losersGrid {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 2rem;
  }
}