@import '../../../styles/colors';

.choice {
  border: none;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.true {
  background-color: $white;
  color: $primary;
}

.false {
  background-color: $white;
  color: $green-light;
}

.yes {
  background-color: $green-primary;
  color: $white;
}

.no {
  background-color: $green;
  color: $white;
}

.idk {
  background-color: $green-ternary;
  color: $white;
}