@import '../../../styles/colors';

.container {
  background-color: $green;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
  padding: 3rem 1.5rem;
  gap: 2rem;

  width: 100%;

  .title {
    text-align: center;
  }

  .rulesExplanation {
    display: flex;
    justify-content: space-around;
    
    gap: 1.5rem;

    & > * {
      width: 20%;
      flex: 1 1 0;
    }
  }
}