@import '../../../styles/colors';

.rulesExplanation {
  background-color: $green;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
  padding: 3rem 1.5rem;
  gap: 2rem;

  & > .title {
    text-align: center;
  }

  & > div {
    display: flex;
    justify-content: center;
    
    gap: 1.5rem;
  }
}