.container{
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  & > .formContainer {
    width: 40%;
  }
  
  & > .rulesContainer {
    width: 80%;
  }
}
