.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;
}

.guessCharacterButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 0.5rem;
}