.container {
  width: 80%;
  
  .choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 3rem;
    
    margin: auto;
    width: 80%;
  
    .guessCharacterButtonContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      gap: 0.5rem;
    }
  }
}

