@import '../../../styles/colors';

.button {
  border: none;
  border-radius: 6px;
  padding: 1rem 1.5rem;

  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.buttonContent {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: $white;
    color: $primary;
  }
  
  &:focus {
    outline: 2px solid $primary-dark;
  }
}

.secondary {
  background-color: $secondary;
  color: $white;
  
  &:hover {
    background-color: $white;
    color: $secondary;
  }

  &:focus {
    outline: 2px solid $green;
  }
}

.ternary {
  background-color: $white;
  color: $primary;
  
  &:focus{
    outline: 2px solid $green;
  }
}

.transparent {
  background-color: transparent;
  color: $white;
  border: none;
  outline: none;
  width: fit-content;
}
