@import '../../../styles/colors';

.button {
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.buttonContent {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: $primary;
  color: $white
}

.secondary {
  background-color: $secondary;
  color: $white;
}

.ternary {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
}

.transparent {
  background-color: transparent;
  color: $white;
  border: none;
  outline: none;
  width: fit-content;
}