@import '../../../styles/colors';

.choosenPlayerCard {
  background-color: rgba($white, 0.7);
  color: $black;
  border-radius: 8px; 
  padding: 1rem 1.5rem;
  width: fit-content;

  display: flex;
  align-items: center;

  gap: 0.5rem;
}