@import '../../../styles/colors';

.inputButton {
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.vrai {
  background-color: $white;
  color: $primary;
}

.faux {
  background-color: $white;
  color: $green-light;
}

.oui {
  background-color: $green-primary;
  color: $white;
}

.non {
  background-color: $green;
  color: $white;
}

.jnsp {
  background-color: $green-ternary;
  color: $white;
}