@import '../../../styles/colors';

.container {
  background-color: $white;
  color: $black;

  display: flex;
  flex-direction: column;
  width: fit-content;

  border-radius: 0.5rem;
  padding: 2rem;
  gap: 1.5rem;
  box-shadow: inset 8px 8px 0px $shadow-color;

  & > h2 {
    font-weight: 500;
    font-size: 20px;
  }
}

.playersGrid {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem 2rem;
}

.playersInLobby {
  margin-left: auto;
  color: $gray;
}