@import '../../../styles/colors';

.window {
  background-color: $green;
  border-radius: 8px;

  & > header {
    background-color: $green-dark;
    display: flex;
    border-radius: 8px 8px 0px 0px;
    padding: 1rem;
    min-height: 64px;
  }
}

.backButton {
  font-weight: 600;
  gap: 0.5rem;
}

.content {
  padding: 40px 32px;
}