$white: #FFFFFF;
$black: #000000;

$gray-light: #EEEEEE;
$gray-dark: #595959;
$gray: #686868;


$green-primary: #00A974;
$green-lightest: #A9FFE4;
$green-light: #0ECA92;
$green: #1F7963;
$green-dark: #185F4D;
$green-ternary: #232E21;

$primary-dark: #7B0037;
$primary: #E60067;
$secondary: $green-light;

$pink: #FFECF3;
$red: #E60067;

$shadow-color: #0B543E;
