$white: #FFFFFF;
$black: #000000;

$gray-light: #EEEEEE;
$gray-dark: #595959;
$gray: #686868;

$green-light: #0ECA92;
$green: #1F7963;
$green-dark: #185F4D;

$primary: #E60067;
$secondary: $green-light;


$shadow-color: #0B543E;
