$white: #FFFFFF;
$black: #000000;
$gray-dark: #595959;
$gray: #686868;

$primary: #E60067;
$secondary: #0075E4;

$blue-background: #04203D;
$blue-header: #062849;
$blue-dark: #002C59;

$shadow-color: #0B543E;