@import 'colors';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', Roboto, sans-serif;
}

body {
  background-color: $green-light;
  background-image: url('../public/pattern.png');
  background-repeat: repeat;
  color: $white;
}